@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";
.category_page_wrapper {
	margin-top: 2rem;
	width: 80%;
	.category_title_wrapper {
		margin-bottom: 2rem;
		@include flex-row-space-between;
	}
	.data_grid_wrapper {
		width: 100%;
		margin-bottom: 6.5rem;
	}
}
