@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.Widgets_grid_wrapper {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
	.col_1 {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}
	.col_2,
	.col_3,
	.col_4,
	.col_5,
	.col_6,
	.col_7 {
		grid-column: span 1;
		grid-row: span 1;
	}
}
