@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $white;
	text-align: center;
	.footer_content_wrapper {
		padding: 1rem;
		.footer_icons_wrapper {
			@include flex-row-center;
			justify-content: center;
			gap: 1rem;
			margin: 0.8rem 0;
		}
		p {
			color: $body_text;
		}
	}
}
