@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

nav {
	@include flex-row-space-between;
	align-items: center;
	padding: 0 3rem;
	background-color: $white;
	.website_link {
		display: none;
		@include screens-md {
			@include flex-row-center;
			gap: 0.5rem;
			background-color: $body;
			padding: 0.5rem 0.7rem;
			border-radius: 4px;
		}
	}
	.menue_btn {
		@include screens-md {
			display: none;
		}
	}
	.nav_buttons_wrapper {
		@include flex-row-center;
		gap: 1.3rem;
		img {
			filter: brightness(90%);
		}
		.avater_wrapper {
			position: relative;
		}
		.dropdown_Wrapper {
			@include flex-col;
			position: absolute;
			right: 3%;
			top: 4rem;
			width: 12rem;
			background-color: $white;
			@include box-shadow-sm;
			padding: 1.5rem;
			border-radius: 4px;
			gap: 0.8rem;
			transform: scale(1);
			animation: popup 0.1s linear;
			z-index: 40;
			button {
				padding: 0;
				font-size: 0.9rem;
				font-weight: 500;
				&:hover {
					color: $blue;
				}
			}
			.admin_details {
				border-bottom: 1px dashed $off_white;
				padding: 0.5rem 0.8rem;
			}
			ul {
				@include flex-col;
				gap: 0.8rem;
				li {
					font-size: 0.9rem;
					letter-spacing: 0.5px;
					font-weight: 500;
					padding: 0.4rem 0.8rem;
					&:hover {
						background-color: $body;
						border-radius: 4px;
						// color: $blue;
					}
				}
			}
			// &::before {
			// 	content: "";
			// 	border-left: 0.8rem solid transparent;
			// 	border-right: 0.8rem solid transparent;
			// 	border-bottom: 0.8rem solid $white;
			// 	width: 0;
			// 	height: 0;
			// 	position: absolute;
			// 	top: -0.5rem;
			// 	right: 1.2rem;
			// }
		}
		.notification_wrapper {
			position: relative;
			z-index: 40;
			&::before {
				content: "";
				position: absolute;
				width: 0.5rem;
				height: 0.5rem;
				background-color: $red_main;
				right: 0.5rem;
				top: 0.4rem;
				border-radius: 1rem;
			}
			.notification_dropdown_wrapper {
				@include box-shadow-sm;
				position: absolute;
				right: 0.5rem;
				top: 3.5rem;
				width: 16rem;
				background-color: $white;
				padding-bottom: 1.2rem;
				border-radius: 4px;

				h6 {
					color: $navy_3;
					border-bottom: 2px solid $navy_3;
					padding: 0.3rem 0.5rem;
				}
				.notifications {
					@include flex-row-center;
					&:not(:last-child) {
						border-bottom: 1px solid $navy_3;
					}
					padding: 1rem;
					gap: 0.5rem;
					&_title {
						p {
							font-size: 0.8rem;
							font-weight: 500;
							&:last-child {
								font-size: 0.7rem;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes popup {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
	}
}
