@import '../../../scss/scss-utils/color';
@import '../../../scss/scss-utils/mixins';
.chat_page_wrapper {
	width: 100%;
	min-height: 100vh;
	.messages_container_main {
		@include flex-row-space-between;
		gap: 2rem;
		.conversation_list {
			width: 25%;
		}
		.conversation_details {
			position: relative;
			padding: 2rem 2rem 4rem 2rem;
			border-radius: 8px;
			box-shadow: rgb(246, 249, 252, 0.1) 0px 48px 100px 0px;
			background-color: $white;
			width: 75%;
			.message_sender_details {
				@include flex-row-center;
				gap: 0.5rem;
				margin-bottom: 2.5rem;
				img {
					width: 4rem;
					height: 4rem;
					object-fit: cover;
					border-radius: 50%;
					box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
				}
				.sender_info {
					@include flex-col;
					gap: 0.3rem;
				}
			}
			.message_list {
				@include flex-col;
				gap: 1rem;
				margin-bottom: 3rem;
			}
		}
	}
}
.message_from_wrapper {
	position: absolute;
	bottom: 1.5rem;
	left: 3%;
	width: 94%;
	form {
		input {
			width: 100%;
			padding: 1rem;
			outline: none;
			border-radius: 2rem;
			border: 1px solid #e1e1e1;
			position: relative;
			transition: all 0.1s ease-in-out;
			font-size: 0.9rem;
			letter-spacing: 0.3px;
			&:focus {
				border: 1px solid rgb(95, 104, 233, 0.5);
				transition: all 0.1s ease-in-out;
			}
		}
		button {
			padding: 0;
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
