@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.home_page_content_wrapper {
	@include flex-row-space-between;
	width: 100%;
	.sidebar_wrapper {
		background-color: $navy_main;
		padding: 2rem 0;
		height: 100vh;
		overflow-y: scroll;
		flex: 1;
	}
	.routes_content_wrapper {
		background-color: $body;
		flex: 6;
		height: 100vh;
	}
	::-webkit-scrollbar {
		width: 6px;
		background-color: $navy_main;
		border: unset;
	}
	::-moz-scrollbar {
		width: 6px;
		background-color: $navy_main;
		border: unset;
	}
	::-webkit-scrollbar-thumb {
		background-color: $light_gray;
		border-radius: 10px;
	}
	::-moz-webkit-scrollbar-thumb {
		background-color: $light_gray;
		border-radius: 10px;
	}
	.widgets_wrapper {
		margin-top: 2rem;
		@include flex-col-center;
	}
}
