@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
*,
html,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Open Sans", "Roboto", sans-serif;
}
a {
	text-decoration: unset;
	color: unset;
	&:hover {
		color: #7199ff;
	}
}
