@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.data_table_wrapper {
	background-color: $white;
	@include box-shadow-sm;
	padding: 2rem 0;
	width: 39%;
	margin-top: 2rem;
	border-radius: 8px;
	.data_table_title_wrapper {
		padding: 0 2rem 2rem 2rem;
		@include flex-row-space-between;
	}
}
