$dark_gray: #3b3841;
$black_main: #212529;
$body_text: #282a3a;
$gray_main: #b5b5b5;
$red_main: #cc2121;
$blue: #5679ff;
$semi_blue: #7199ff;
$gray_2: #727272;
$glass_white: rgba(255, 255, 255, 0.527);
$white: #fff;
$light_gray: #e5e5e5;
$body: #f6f9fc;
$dark_mood_main: #0a2647;
$navy_1: #144272;
$navy_2: #205295;
$navy_3: #2c74b3;
$navy_main: #2b3445;
$body_text: #7d879c;
